<h1 class = "subtitle">Profile of <%= @profile.user.email %></h1>
<div class = "edit_delete">
<% if can? :destroy, @profile %> <!-- Indent inside if statements and do...end blocks!-->
<%= link_to "Delete", profile_path(@profile), method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
<% end %>

<% if can? :edit, @profile %>
<%= link_to "Edit", edit_profile_path(@profile) %>
<% end %>
</div>
<br>
<% if @profile.facebook_url != "" %>
<!-- why not use link_to here and everywhere else? -->
<a href="<%= @profile.facebook_url %>">Facebook Profile</a>
<% end %>

<% if @profile.blog_url != "" %>
<a href="<%= @profile.blog_url %>">- Personal Blog</a>
<% end %>

<% if @profile.other_url != "" %>
<a href="<%= @profile.other_url %>">- Other Personal Site</a>
<% end %>

<p><%= @profile.info %></p>
