<h1>Edit Comment</h1>

<div class="form">
  <%= form_for [@info_item, @comment] do |f| %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Add Topic" %>
  <% end %>
</div>
