<h1>New Comment</h1>

<div class="form">
  <%= form_for [@info_item, @comment] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Add Comment" %>
  <% end %>
</div>
