<h1>Edit Topic</h1>

<div class="form">
  <%= form_for [@report, @info_item] do |f| %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Edit Topic" %>
  <% end %>
</div>
