<!DOCTYPE html>
<html>
<head>
  <title>Tour Reporter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "login"
    <% if current_user %>
    <h2>Logged in as <strong><%= current_user.email %></strong></h2>
    <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
    <% else %>
    <h3><%= link_to 'Signup', new_user_registration_path %></h3>
    <h3><%= link_to 'Login', new_user_session_path %></h3>
    <% end %>
  </div>
  <div class = "container">
    <div id="header">Tour Reporter</div>
    <ul class = "navigation">
      <li><%= link_to "Locations", locations_path %></li>
      <li><%= link_to "Reports", reports_path %></li>
      <li><%= link_to "Profiles", profiles_path %></li>
    </ul>
    <div class = "page">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
